# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/

# Other IDE/project files
*.sublime-workspace
*.sublime-project

# SQLite database
*.sqlite
*.sqlite3
database.sqlite

# Misc
*.log
*.pot
*.mo

# Mac & Linux
.DS_Store
*.swp
*~